@font-face {
  font-family: "Charis SIL";
  src: url(CharisSILViet-R.woff);
}
@font-face {
  font-family: "Charis SIL";
  font-style: italic;
  src: url(CharisSILViet-I.woff);
}

@font-face {
  font-family: "Charis SIL";
  font-weight: bold;
  src: url(CharisSILViet-B.woff);
}

@font-face {
  font-family: "Charis SIL";
  font-weight: bold;
  font-style: italic;
  src: url(CharisSILViet-BI.woff);
}
