<header>
  <h1>{{ .Title }}</h1>
</header>

<nav role="navigation">
  <ul>
    <li><a href="/">Trang chủ</a></li>
    <li>
      <ul>
        <li><a href="/">One two</a></li>
        <li><a href="/">Three four</a></li>
        <li><a href="/">Five</a></li>
        <li><a href="/">Six</a></li>
      </ul>
    </li>
  </ul>
</nav>
