:root {
  --figure-border: 1px solid black;
}

html {
  font-family: "Charis SIL", serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  border: none;
  padding: 10px 20px;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
  background-color: #eee;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin: 1rem 0;
}

h1 + video,
h2 + video,
ul + video,
ol + video {
  margin-top: 1rem;
}

strong {
  font-weight: bold;
}

iframe {
  width: 100%;
}

ul,
ol {
  margin-left: 40px;
}

time {
  font-variant: small-caps;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  padding: 5px;
}

nav ul {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  border: 2px solid black;
}
nav a {
  color: white;
  padding: 0 10px;
  display: inline-block;
  line-height: 1.7rem;
}

nav a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

footer {
  margin-top: 3rem;
  text-align: right;
  border-top: 1px solid black;
  font-size: 0.9rem;
}
footer a,
article a {
  text-decoration: underline;
}

article p,
article ul,
article ol,
article iframe,
article em,
article video,
article figcaption {
  max-width: 750px;
}

figure {
  border: var(--figure-border);
  margin: 1rem 0;
  display: inline-block;
  background-color: floralwhite;
}
figure + figure {
  margin-top: 0;
}
figure img {
  max-width: 100%;
  border-bottom: var(--figure-border);
}
figure figcaption {
  /* hack to prevent figcaption from expanding the figure's width: */
  min-width: 100%;
  width: 0;
  /* end hack */
  padding: 0 5px 5px 5px;
  font-size: 0.9rem;
}

figure + p,
p + figure {
  margin-top: 0;
}

article header {
  text-align: center;
}
article h1,
article h2 {
  margin-top: 1rem;
}

@media (max-width: 550px) {
  html {
    padding: 0;
    font-size: 115%;
  }

  #main-section,
  footer {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  nav ul {
    flex-direction: column;
  }
  nav a {
    width: 100%;
  }
}
