<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/theme/css/reset.css">
  <link rel="stylesheet" href="/theme/fonts/fonts.css">
  <link rel="stylesheet" href="/theme/css/main.css">
  {% block header_extras %}{% endblock %}
</head>

<body>
  <header>
    {% include '_includes/header.html' %}
    {% include '_includes/navbar.html' %}
  </header>

  <section id="main-section">
    {% block content %}{% endblock %}
  </section>

  <footer>{% include '_includes/footer.html' %}</footer>

  <script src="/theme/js/konami.js"></script>
</body>
</html>
