{% extends 'base.html' %}

{% block title %}{{ category }} | {{ SITENAME }} {% endblock %}


{% block content %}

<div class="blog-index">
    {% if articles %}
    <ol class="article-list">
        {% for article in articles_page.object_list|reverse %}
        <li>
            <a class="article" href="{{ SITEURL }}/{{ article.url }}">
                {{ article.title|striptags }}
            </a>
            <time datetime="{{ article.date }}">
              {{ article.date|vnstrftime }}
            </time>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</div>

{% endblock %}
