{% extends 'base.html' %}

{% block header_extras %}
  <link rel="stylesheet" href="/theme/css/index.css">
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="{{ SITESUBTITLE }}" />
  {% if MOTHERFUCKING_DEFAULT_THUMB %}
  <meta property="og:image" content="{{ SITEURL }}/{{ MOTHERFUCKING_DEFAULT_THUMB }}" />
  {% endif %}
{% endblock %}

{% block content %}

<article>
  <p>
    <img src="https://user-images.githubusercontent.com/1446315/77242831-6a420700-6c35-11ea-9d4f-9187ac710f0d.png" alt="anime player">
    <em>Anime fighter năm 1633 (<a href="https://commons.wikimedia.org/wiki/File:Rembrandt_Harmensz._van_Rijn_163.jpg">bản phục chế</a>)</em>
  </p>

  <p>
    Đây là nơi tổng hợp thông tin, tài liệu liên quan tới Granblue Fantasy
    Versus (là game đối kháng, không phải mobile<del>shit</del> game).
  </p>
</article>

{% endblock %}
